<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinwei.teachingplan.mapper.PublicQuestionsMapper">

<!--    查询所有试题对应的年级-->
    <select id="grade" resultType="java.lang.String">
        select
        grade
        from questions
        group  by grade
    </select>
    <select id="course" resultType="java.lang.String">
        select
        course
        from questions
        group  by course
    </select>
    <select id="year" resultType="java.lang.String">
        select
        year
        from questions
        group  by year
    </select>
    <select id="label" resultType="java.lang.String">
        select
        label
        from questions
        group  by label
    </select>
    <select id="knowledge" resultType="java.lang.String">
        select
        knowledge
        from questions
        group  by knowledge
    </select>
</mapper>