<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinwei.teachingplan.mapper.QuestionsMapper">


    <insert id="addQuestions" parameterType="com.xinwei.teachingplan.bo.QuestionsBo">
        insert into questions(
            grade,
            course,
            complexity,
            questions_type,
            year,
            label,
            knowledge,
            questions_start,
            questions_start_image,
            questions_answer,
            questions_answer_image,
            questions_analyze,
            questions_analyze_image,
            questions_remark,
            questions_remark_image,
            questions_explain,
            questions_explain_image
        )values (
            #{grade},
            #{course},
            #{complexity},
            #{questionsType},
            #{year},
            #{label},
            #{knowledge},
            #{questionsStart},
            #{questionsStartImage},
            #{questionsAnswer},
            #{questionsAnswerImage},
            #{questionsAnalyze},
            #{questionsAnalyzeImage},
            #{questionsRemark},
            #{questionsRemarkImage},
            #{questionsExplain},
            #{questionsExplainImage}
        )
    </insert>
    <select id="queryQuestions" parameterType="com.xinwei.teachingplan.bo.QueryQuestionsBo"
            resultType="com.xinwei.teachingplan.entity.QuestionBaseEntity">
        select
        id,
        questions_start questionsStart,
        questions_start_image questionsStartImage
        from questions
        where 1
        <if test="grade != null">
            and grade = #{grade}
        </if>
        <if test="course != null">
            and course = #{course}
        </if>
        <if test="complexity != null and  complexity.size >0">
            and complexity in
            <foreach collection="complexity" item="g" open="(" separator="," close=")">
                #{g}
            </foreach>
        </if>
        <if test="questionsType != null and questionsType.size >0">
            and questions_type in
            <foreach collection="questionsType" item="g" open="(" separator="," close=")">
                #{g}
            </foreach>
        </if>
        <if test="year != null and year.size >0">
            and year in
            <foreach collection="year" item="g" open="(" separator="," close=")">
                #{g}
            </foreach>
        </if>
        <if test="label != null and label.size >0">
            and label in
            <foreach collection="label" item="g" open="(" separator="," close=")">
                #{g}
            </foreach>
        </if>
        <if test="knowledge != null">
            and knowledge = #{knowledge}
        </if>

    </select>
    <insert id="addMe">
        insert into personal(
            user_id,
            questions_id,
            teach_id
        )values (
            #{userId},
            #{questionsId},
            #{teachId}
        )
    </insert>
    <insert id="insertMenu" parameterType="com.xinwei.teachingplan.bo.MenuBo"
            useGeneratedKeys="true" keyProperty="oneId">
        insert into questions_menu(name,father_id)
        values(#{name},#{fatherId})
    </insert>
    <insert id="insertAttribute" parameterType="com.xinwei.teachingplan.bo.QuestionsBo">
        insert into (
            grade,
            course,
            complexity,
            questions_type,
            year,
            label,
            knowledge
        )values (
            #{grade},
            #{course},
            #{complexity},
            #{questionsType},
            #{year},
            #{label},
            #{knowledge}
        )
    </insert>
    <select id="queryAnswer" resultType="com.xinwei.teachingplan.entity.QuestionAnswerEntity">
        select
            questions_answer questionsAnswer,
            questions_answer_image questionsAnswerImage,
            questions_analyze questionsAnalyze,
            questions_analyze_image questionsAnalyzeImage,
            questions_remark questionsRemark,
            questions_remark_image questionsRemarkImage,
            questions_explain questionsExplain,
            questions_explain_image questionsExplainImage
        from questions
        where id = #{questionsId}
    </select>
</mapper>