<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinwei.teachingplan.mapper.TeachMapper">


    <insert id="addTeach" parameterType="com.xinwei.teachingplan.bo.TeachBo"
            useGeneratedKeys="true" keyProperty="teachId">
      insert into teach(
         teach_name ,
         prepare_lessons_time ,
         course ,
         grade,
         student_name,
         lessons_time ,
         teach_topic ,
         teach_type,
         teach_source ,
         student_questions ,
         teach_goal ,
         teach_key_difficulty ,
         review ,
         key_point,
         senior_question_ids ,
         conclude,
         consolidate,
         consolidate_question_ids,
         node
        )values (
         #{teachName},
         #{prepareLessonsTime},
         #{course},
         #{grade},
         #{studentName},
         #{lessonsTime},
         #{teachTopic} ,
         #{teachType},
         #{teachSource} ,
         #{studentQuestions} ,
         #{teachGoal} ,
         #{teachKeyDifficulty} ,
         #{review} ,
         #{keyPoint},
         #{seniorQuestionIds} ,
         #{conclude},
         #{consolidate},
         #{consolidateQuestionIds},
         #{node}
        )
    </insert>
    <insert id="addTeachPoints" parameterType="com.xinwei.teachingplan.bo.TeachPointsBo">
        insert into teach_points(
        teach_id,
        points,
        analyse,
        points_question_ids
        )values
        <if test="TeachPointsList != null and TeachPointsList.size > 0">
            <foreach collection="TeachPointsList" item="TeachPoints" separator=",">
                (
                #{TeachPoints.teachId},
                #{TeachPoints.points},
                #{TeachPoints.analyse},
                #{TeachPoints.pointsQuestionIds}
                )
            </foreach>
        </if>
    </insert>
    <insert id="addTeachPractice" parameterType="com.xinwei.teachingplan.bo.TeachPracticeBo">
        insert into teach_practice(
        teach_id,
        week,
        practice_question_ids,
        signature
        )values
        <if test="TeachPracticeList != null and TeachPracticeList.size > 0">
            <foreach collection="TeachPracticeList" item="TeachPractice" separator=",">
                (
                #{TeachPractice.teachId},
                #{TeachPractice.week},
                #{TeachPractice.practiceQuestionIds},
                #{TeachPractice.signature}
                )
            </foreach>
        </if>
    </insert>
    <insert id="addMe" parameterType="com.xinwei.teachingplan.bo.PersonalBo">
        insert into personal(
            user_id,
            <if test="flag != 1">
                questions_id,
            </if>
            teach_id
        )values (
            #{userId},
            <if test="flag != 1">
                #{questionsId},
            </if>
            #{teachId}
        ) on duplicate key  update update_time = CURRENT_TIMESTAMP
    </insert>
    <update id="delete">
        update teach
        set is_del = 1
        where id = #{teachId}
    </update>
    <delete id="deletePersonal">
        delete from personal
        where user_id = #{userId} and teach_id = #{teachId}
    </delete>
    <select id="queryTeach" resultType="com.xinwei.teachingplan.bo.TeachBo">
        select
        t.id id,
        t.teach_phone teachPhone,
        t.teach_name teachName,
        t.prepare_lessons_time prepareLessonsTime,
        t.course course,
        t.grade grade,
        t.student_name,
        t.lessons_time lessonsTime,
        t.teach_topic teachTopic,
        t.teach_type teachType,
        t.teach_source teachSource,
        t.student_questions studentQuestions,
        t.teach_goal teachGoal,
        t.teach_key_difficulty teachKeyDifficulty,
        t.review review,
        t.key_point keyPoint,
        t.senior_question_ids seniorQuestionIds,
        t.conclude conclude,
        t.consolidate consolidate,
        t.consolidate_question_ids consolidateQuestionIds,
        t.student_name studentName
        from teach t
        <if test="flag == 1">
            inner join personal p
                on p.teach_id = t.id
        </if>
        where t.is_del = 0
        <if test="grade != null">
            and t.grade = #{grade}
        </if>
        <if test="course != null">
            and t.course = #{course}
        </if>
        <if test="prepareLessonsTime != null and prepareLessonsTime.size>0">
            and t.prepare_lessons_time in
            <foreach collection="prepareLessonsTime" item="g" open="(" separator="," close=")">
                #{g}
            </foreach>
        </if>
        <if test="teachTopic != null and teachTopic.size>0">
            and t.teach_topic in
            <foreach collection="teachTopic" item="g" open="(" separator="," close=")">
                #{g}
            </foreach>
        </if>
        <if test="flag == 1">
            and p.user_id = #{userId}
        </if>
    </select>
    <select id="queryPoint" resultType="com.xinwei.teachingplan.bo.TeachPointsBo">
        select
        points,
        analyse,
        points_question_ids pointsQuestionIds
        from teach_points
        where teach_id = #{id}
    </select>
    <select id="getPractice" resultType="com.xinwei.teachingplan.bo.TeachPracticeBo">
        select
        week,
        signature,
        practice_question_ids practiceQuestionIds
        from teach_practice
        where teach_id = #{id}
    </select>
    <select id="queryTeachById" resultType="com.xinwei.teachingplan.vo.TeachVo">
        select
        t.id id,
        t.teach_phone teachPhone,
        t.teach_name teachName,
        t.prepare_lessons_time prepareLessonsTime,
        t.course course,
        t.grade grade,
        t.student_name studentName,
        t.lessons_time lessonsTime,
        t.teach_topic teachTopic,
        t.teach_type teachType,
        t.teach_source teachSource,
        t.student_questions studentQuestions,
        t.teach_goal teachGoal,
        t.teach_key_difficulty teachKeyDifficulty,
        t.review review,
        t.key_point keyPoint,
        t.senior_question_ids seniorQuestionIds,
        t.conclude conclude,
        t.consolidate consolidate,
        t.consolidate_question_ids consolidateQuestionIds,
        t.node node
        from teach t
        where id = #{id} and is_del = 0
    </select>
    <select id="queryPointById" resultType="com.xinwei.teachingplan.vo.TeachPointsVo">
        select
        points,
        analyse,
        points_question_ids pointsQuestionIds
        from teach_points
        where teach_id = #{id}
    </select>
    <select id="getPracticeById" resultType="com.xinwei.teachingplan.vo.TeachPracticeVo">
        select
        week,
        signature,
        practice_question_ids practiceQuestionIds
        from teach_practice
        where teach_id = #{id}
    </select>
</mapper>